.header {
    background: url(../../assets/images/bg-header-desktop.svg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color);
}